# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Model weights (muy pesados)
*.pth
*.pt

# Map exports
*.html
*.jpg
*.png

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Temporary files
temp/
tmp/